<!DOCTYPE html>

<html lang='en'>

<head>
    <title>Error!</title>
    <style>
        h1 {
            color: rgb(138, 11, 11);
            text-align: center;
            font-size: 5em;
            font-family: Andale Mono;
        }

        p {
            color: black;
            text-align: center;
            font-size: xx-large;
            font-family: Andale Mono;
        }
    </style>
</head>

<body>
    <h1>An error occured</h1>
    <p>check if entered username is correct</p>
</body>